body
{
	margin: 0;
	padding: 0;
	background-image: url(../image/login_1.jpg);
	background-repeat: no-repeat;
}
#bigBox
{
	margin: 0 auto;
	margin-top: 9%;
	padding: 1.25rem 3.125rem;
	background-color: #46464690;
	width: 70%;
	height: 100%;
	border-radius: 2rem;
	text-align: center;
}
#bigBox h1
{
	color: white;
}
